<div class="part1">
    <div class="title">
        <img src="http://localhost/gh.png">
        <p class="head">Flat Theme</p>
    </div>


    <div class="details">
        <ul>
            <li><a href="">Contact</a></li>
            <li><a href="">Blog</a></li>
            <li>
                <select class="sty">
                    <option><a href="">Pages</a></option>
                    <option>Finance status</option>
                    <option>Privacy Policy</option>
                    <option>Terms and Conditions</option>
                 </select>
            </li>
            <li><a href="">PortFolio</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Home</a></li>

        </ul>

    </div>


</div>
